.container {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.spin_btn {
    position: absolute;
    font-size: 10px;
    color: #fff;
    width: 60px;
    height: 60px;
    background: linear-gradient(to left top, rgb(235, 142, 3),yellowgreen);
    border: none;
    outline: none;
    font-weight: bolder;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    box-shadow:  0 0 20px 0 rgb(229, 182, 95);
}

.spin_btn::before {
    content: "";
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: linear-gradient(to left top, rgb(242, 152, 16),yellowgreen);
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}


.wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 0 0 15px rgb(250, 242, 242), 0 0 30px 15px rgb(213, 190, 190);
}

.container .wheel .elements {
    position: absolute;
    color: #fff;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 59% 0, 100% 100%, 0 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    opacity: .3;
}

.elements_text {
  transform: rotate(320deg);
}

.outside-elements {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}


.outside_elements_box {
    width: 30%;
    height: 20%;
    background: var(--clr);
    opacity: .3;
    border-radius: 60px 0 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    box-shadow: var(--clr) 0px 5px 15px, white 0px 3px 8px;
  }

  .random {
    color: white;
    margin-left: 10px;
    margin-right: 30px;
}

.random_elements_box {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 50px;
}

.wheel_random_stop {
  color: white; 
  font-size: 20px; 
  margin-left: 50px;
}

.random_element_text {
  font-size: 20px;
}

.container_outside_elements {
  display: flex; 
  justify-content: 
  space-around; 
  width: 100%;
}

.img {
  width: 30px;
  height: 30px;
  transform: rotate(315deg);
}

.outside_img {
  width: 30px;
  height: 30px;
}

.random_elements_img {
  width: 30px;
  height: 30px;
}

  .blink {
    animation: blink 0.4s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 900px) {
    .container {
        width: 300px;
        height: 300px;
    }
    .wheel {
        box-shadow: 0 0 0 5% white; 
    }
    .container .wheel .elements {
      position: absolute;
      width: 50%;
      height: 50%;
      background: var(--clr);
      transform-origin: bottom right;
      transform: rotate(calc(45deg * var(--i)));
      clip-path: polygon(0 0, 59% 0, 100% 100%, 0 58%);
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      opacity: .3;
    }

    .container_outside_elements {
      flex-wrap: wrap;
      padding: 10px;
    }
}



@media (max-width: 600px) {
    .container {
        width: 300px;
        height: 300px;
    }
    .wheel {
        box-shadow: 0 0 0 5% white;
    }
    .container .wheel .elements {
      position: absolute;
      width: 50%;
      height: 50%;
      background: var(--clr);
      transform-origin: bottom right;
      transform: rotate(calc(45deg * var(--i)));
      clip-path: polygon(0 0, 59% 0, 100% 100%, 0 58%);
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      opacity: .3;
    }

    .container_outside_elements {
      flex-wrap: wrap;
      padding: 10px;
    }

    .outside_elements_text {
      font-size: 20px;
    }

    .img {
      width: 20px;
      height: 20px;
    }

    .outside_img {
      width: 20px;
      height: 20px;
    }
}


@media (max-width: 350px) {
  .container {
      width: 250px;
      height: 250px;
  }
  .wheel {
      box-shadow: 0 0 0 5% white; 
  }
  .container .wheel .elements {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 59% 0, 100% 100%, 0 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    opacity: .3;
  }

  .container_outside_elements {
    flex-wrap: wrap;
    padding: 10px;
  }
}

@media (max-width: 350px) {
  .container {
      width: 200px;
      height: 200px;
  }
  .wheel {
      box-shadow: 0 0 0 5% white; 
  }
  .container .wheel .elements {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 59% 0, 100% 100%, 0 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    opacity: .3;
  }

  .container_outside_elements {
    flex-wrap: wrap;
    padding: 10px;
  }
}